.article-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: auto;

  & .article-author,
  & .article-date {
    margin: 14px 0 -2px;
    font-size: 15px;

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
  }
}
