.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    333deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(60, 60, 60, 1) 100%
  );
  color: #e6e6e6;
}
